/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    color: whitesmoke;
    height: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}
nav ul li{
    padding:0 12px ;
}
.brand img{
    border-radius: 50%;
    width: 44px;
    padding: 0 5px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(72, 67, 67);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 20px;
 }
.container{
    height: 75vh;
    background-color: rgb(42, 39, 39);
    color: beige;
    font-family:'Varela round',sans-serif;
    width: 70%;
    border-radius: 12px;
    display: flex;
    margin: 10px auto;
    font-size: 14px;
   padding: 34px;
   background-image: url(bg.jpg) ;
   
    
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 75vw;
}